<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>About | Lawfinity</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link href="assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/js/bootstrap.min.js">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- StyleSheet link CSS -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>
<body>
<!-- Back to top button -->
<a id="button"></a>
<div class="sub_banner position-relative">
    <figure class="banner-rightimage image mb-0">
        <img src="./assets/images/banner-rightimage.png" alt="image" class="img-fluid">
    </figure>
    <figure class="banner-leftimage image mb-0">
        <img src="./assets/images/banner-leftimage.png" alt="image" class="img-fluid">
    </figure>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="index.html">
                    <figure class="logo mb-0"><img src="assets/images/logo-acinzentado.png" alt="image" class="img-fluid"></figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Quem Somos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="about.html">Sobre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Páginas </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="practice-area.html">Áreas de Prática</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="faq.html">Perguntas Frequentes</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="team.html">Equipe</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="review.html">Avaliações</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Blog </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="single-blog.html">Single Blog</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="load-more.html">Load More</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="one-column.html">One Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="two-column.html">Two Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="three-column.html">Three Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="three-colum-sidbar.html">Three Column Sidebar</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="four-column.html">Four Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="six-colum-full-wide.html">Six Column</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contato</a>
                        </li>
                    </ul>
                    <div class="last_list">
                        <figure class="nav-phoneicon mb-0"><img class="img-fluid" src="./assets/images/nav-phoneicon.png" alt="image"></figure>
                        <a class="text-decoration-none last_list_atag" href="tel:+568925896325">+5689 2589 6325</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Sub Banner -->
    <section class="sub_banner_con position-relative">
        <div class="container position-relative">
            <div class="row">
                <div class="col-12">
                    <div class="sub_banner_content" data-aos="fade-up">
                        <h1 class="text-white">About Us</h1>
                        <p class="col-xl-7 col-lg-9 mx-auto text-white text-size-16">Dolor in reprehenderit in voluptate velit esse cillumdolore eu fugiat nulla pariatur sint occaecat
                            non sunt in  mollit anim laborum.
                        </p>
                        <div class="box">
                            <a href="index.html" class="text-decoration-none">
                                <span class="mb-0">Home</span>
                            </a>
                            <i class="arrow fa-solid fa-arrow-right"></i>
                            <span class="mb-0 box_span">Quem Somos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- About -->
<section class="aboutpage-con position-relative">
    <figure class="about-sideimage mb-0">
        <img src="./assets/images/lawyer-sideimage.png" alt="image" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-2 text-lg-left text-center">
                <div class="about_wrapper position-relative" data-aos="zoom-in">
                    <figure class="about-image mb-0">
                        <img src="./assets/images/aboutpage-image.jpg" alt="image" class="img-fluid">
                    </figure>
                    <figure class="about-circle mb-0">
                        <img src="./assets/images/aboutpage-circle.png" alt="image" class="img-fluid">
                    </figure>
                    <div class="about-box">
                        <figure class="about-icon">
                            <img src="./assets/images/aboutpage-icon.png" alt="image" class="img-fluid">
                        </figure>
                        <span class="number counter">30</span>
                        <sup class="plus">+</sup>
                        <span class="text">Years of Experience</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-1">
                <div class="about_content" data-aos="fade-up">
                    <h6>About us</h6>
                    <h2>Providing Top-Notch Legal Representation</h2>
                    <p class="text text-size-16">Quis autem vel eum iure reprehenderit rui in ea volurate veli esse ruam nihil molestiae conseauatur vel illum rui dolorema 
                        eum fugiat ruo voluetas nulla pariatur.
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">Excepteur sint occaecat cupidatat noru even.</p>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">Duis aute irure dolor in reprehenderit in voluta facis.</p>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">Rerum hic tenetur a sapiente delectus au occae.</p>
                        </li>
                    </ul>
                    <a href="./about.html" class="text-decoration-none read_more">Read More<i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Succeed -->
<section class="succeed-con position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="succeed_content" data-aos="fade-up">
                    <h6>Who We Are</h6>
                    <h2>Committed to Helping Our Clients Succeed</h2>
                    <p class="text text-size-16">Nucimus qui blanditiis praesentium voluptatum deleniti atrue corrupti ruos dolores ruas molestias occaecati.</p>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">Nxcepteur sint occaecat cupidatat noru even.</p>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">Guis aute irure dolor in reprehenderit in voluta facis.</p>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">Kerum hic tenetur a sapiente delectus au occae.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="succeed_wrapper" data-aos="zoom-in">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="box">
                                <div class="succeed-box">
                                    <figure class="icon">
                                        <img src="./assets/images/succeed-icon1.png" alt="image" class="img-fluid">
                                    </figure>
                                    <span class="number counter">250</span>
                                    <sup class="plus">+</sup>
                                    <span class="text">Business Partners</span>
                                </div> 
                            </div>  
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="succeed-box">
                                <figure class="icon">
                                    <img src="./assets/images/succeed-icon2.png" alt="image" class="img-fluid">
                                </figure>
                                <span class="number counter">180</span>
                                <sup class="plus">+</sup>
                                <span class="text">Cases Done</span>
                            </div> 
                        </div>
                    </div>
                    <div class="succeed-downcontent">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="box">
                                    <div class="succeed-box">
                                        <figure class="icon">
                                            <img src="./assets/images/succeed-icon3.png" alt="image" class="img-fluid">
                                        </figure>
                                        <span class="number counter">370</span>
                                        <sup class="plus">+</sup>
                                        <span class="text">Happy Clients</span>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="succeed-box">
                                    <figure class="icon">
                                        <img src="./assets/images/succeed-icon4.png" alt="image" class="img-fluid">
                                    </figure>
                                    <span class="number counter">90</span>
                                    <sup class="plus">+</sup>
                                    <span class="text">Awards Won</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Consultation -->
<section class="consultation-con position-relative">
    <figure class="consultation-sideimage mb-0">
        <img src="assets/images/consultation-sideimage.png" alt="image" class="image-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="consultation_wrapper position-relative">
                    <figure class="consultation-image mb-0">
                        <img src="assets/images/consultation-image.jpg" alt="image" class="image-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="consultation_content" data-aos="fade-up">
                    <h6>Get in touch</h6>
                    <h2 class="text-white">Book a free consultation</h2>
                    <form id="contactpage" method="post" class="position-relative">
                        <div class="form-group input1 float-left">
                            <input type="text" class="form_style" placeholder="Name" name="fname" id="fname">
                        </div>
                        <div class="form-group float-left">
                            <input type="tel" class="form_style" placeholder="Phone" name="phone" id="phone">
                        </div>
                        <div class="form-group input1 float-left">
                            <input type="email" class="form_style" placeholder="Email" name="email" id="email">
                        </div>
                        <div class="form-group float-left">
                            <select class="form-control">
                                <option>Practice Area</option>
                                <option>Immigration Law</option>
                                <option>Business Law</option>
                                <option>Criminal Law</option>
                            </select>
                        </div>
                        <div class="form-group message">
                            <textarea class="form_style" placeholder="Message" rows="3" name="msg"></textarea>
                        </div>
                        <button id="submit" type="submit" class="appointment">Book Appointment<i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq Testimonial -->
<section class="faq_testimonial-con aboutpage-testimonial position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="faq_testimonial_content text-center" data-aos="fade-up">
                    <h6>Testimonials</h6>
                    <h2 class="mb-0">What our Clients are Saying</h2>
                </div>
            </div>
        </div>
        <div class="row position-relative" data-aos="fade-up">
            <div class="col-12">
                <div class="testimonial_content">
                    <figure class="testimonial-quote">
                        <img src="./assets/images/faq-testimonialquote.png" alt="image" class="img-fluid">
                    </figure>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="content-box">
                                <figure class="testimonial-starimage">
                                    <img src="./assets/images/faq-testimonialstar.png" alt="image" class="img-fluid">
                                </figure>
                                <p class="text-size-18">“Beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas aspernatur aur odit aut fugit, sed neatae vitae
                                    dicta ripiscing elit, sed do euismod tempor incidunt labore aredolore magna aliqua ut enim ad minim adipiscing elit, sed do euismod tempor incidunt
                                    labore minima veniam.”
                                </p>
                                <div class="review-content">
                                    <figure class="testimonial-personimage mb-0">
                                        <img src="./assets/images/testimonial-personimage.jpg" alt="image" class="img-fluid">
                                    </figure>
                                    <div class="detail">
                                        <span class="name">Kevin Andrew</span>
                                        <span class="position">CEO, of the company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content-box">
                                <figure class="testimonial-starimage">
                                    <img src="./assets/images/faq-testimonialstar.png" alt="image" class="img-fluid">
                                </figure>
                                <p class="text-size-18">“Beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas aspernatur aur odit aut fugit, sed neatae vitae
                                    dicta ripiscing elit, sed do euismod tempor incidunt labore aredolore magna aliqua ut enim ad minim adipiscing elit, sed do euismod tempor incidunt
                                    labore minima veniam.”
                                </p>
                                <div class="review-content">
                                    <figure class="testimonial-personimage mb-0">
                                        <img src="./assets/images/testimonial-personimage.jpg" alt="image" class="img-fluid">
                                    </figure>
                                    <div class="detail">
                                        <span class="name">Kevin Andrew</span>
                                        <span class="position">CEO, of the company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Article -->
<section class="article-con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="article_content text-center" data-aos="fade-up">
                    <h6>News & Articles</h6>
                    <h2>Latest Blog Posts</h2>
                    <p class="col-xl-8 col-lg-10 mx-auto text-size-16 mb-0">Kucimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores ruas molestias excepturi
                        sint occaecati cupiditate non provident.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image1.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Maiores alias consequatur perferendis doloribus</h5>
                                </a>
                                <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image2.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Eiusmod tempor incididunt labore aet dolore</h5>
                                </a>
                                <p class="text-size-14">Rute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image3.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Dolore aeu fugiat nulla paria sint occaecat</h5>
                                </a>
                                <p class="text-size-14">Gute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image1.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Maiores alias consequatur perferendis doloribus</h5>
                                </a>
                                <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image2.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Eiusmod tempor incididunt labore aet dolore</h5>
                                </a>
                                <p class="text-size-14">Rute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image3.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Dolore aeu fugiat nulla paria sint occaecat</h5>
                                </a>
                                <p class="text-size-14">Gute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image1.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Maiores alias consequatur perferendis doloribus</h5>
                                </a>
                                <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image2.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Eiusmod tempor incididunt labore aet dolore</h5>
                                </a>
                                <p class="text-size-14">Rute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="article-box">
                            <figure class="mb-0">
                                <img src="./assets/images/article-image3.jpg" alt="image" class="img-fluid">
                            </figure>
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>March 18, 2019</span>
                                    <span class="dash">-</span>
                                    <span>0 Comments</span>
                                </div>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <h5>Dolore aeu fugiat nulla paria sint occaecat</h5>
                                </a>
                                <p class="text-size-14">Gute irure dolor in reprehenderit in voluptate velit esse cillum...</p>
                                <a href="single-blog.html" class="text-decoration-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<section class="footer-con position-relative" id="footer">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
                <div class="upper_portion">
                    <div class="heading">
                        <h6 class="text-white">Subscription</h6>
                        <h3 class="text-white mb-0">Subscribe to Our Newsletter</h3>
                    </div>
                    <form action="javascript:;">
                        <div class="form-group position-relative mb-0">
                            <input type="text" class="form_style" placeholder="Your email address" name="email">
                            <button>Subscribe<i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="middle_portion">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="logo-content">
                        <a href="./index.html" class="footer-logo">
                            <figure class="mb-0"><img src="./assets/images/logo-acinzentado.png" alt="image"></figure>
                        </a>
                        <p class="text-size-14">Nemo enim ipsam voluptatem quia voluptas sit asperna tur aut odit
                            aut fugit, sed quia conseuntur magni dolor es eos rui ratione...</p>
                            <ul class="list-unstyled mb-0 social-icons">
                                <li><a href="https://www.tiktok.com/@cassia.souza.adv?_t=ZM-90f26k8kEKh&_r=1" class="text-decoration-none" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-tiktok social-networks"></i></a></li>
                                <li><a href="https://twitter.com/i/flow/login" class="text-decoration-none"><i class="fa-brands fa-x-twitter social-networks"></i></a></li>
                                <li><a href="https://www.linkedin.com/login" class="text-decoration-none"><i class="fa-brands fa-linkedin social-networks"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="links">
                        <h4 class="heading">Useful Links</h4>
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./index.html" class=" text-size-14 text text-decoration-none">Home</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./about.html" class=" text-size-14 text text-decoration-none">About</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./practice-area.html" class=" text-size-14 text text-decoration-none">Practice Areas</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./case-studies.html" class=" text-size-14 text text-decoration-none">Cases</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./blog.html" class=" text-size-14 text text-decoration-none">Blog</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./contact.html" class=" text-size-14 text text-decoration-none">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                    <div class="timing">
                        <h4 class="heading">Office Hours</h4>
                        <ul class="list-unstyled mb-0">
                            <li><p>Monday – Saturday</p></li>
                            <li><span>12:00 – 14:45</span></li>
                            <li><p>Sunday – Thursday</p></li>
                            <li><span>17.30 – 21.45</span></li>
                            <li><p>Friday – Saturday</p></li>
                            <li><span class="mb-0">13.00 – 19.45</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="icon">
                        <h4 class="heading">Contact Us</h4>
                        <ul class="list-unstyled mb-0">
                            <li class="text">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+568925896325" class="text-decoration-none">+5689 2589 6325</a>
                            </li>
                            <li class="text">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:info@lawfinity.com"
                                    class="text-decoration-none">Info@lawfinity.com</a>
                            </li>
                            <li class="text">
                                <i class="fa-solid fa-location-dot"></i>
                                <p class="address mb-0">21 King Street Melbourne, 3000, Australia</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fixed-form-container">
        <div class="image">
            <figure class="footer-contactimage mb-0">
                <img src="./assets/images/footer-contactimage.png" alt="image" class="img-fluid">
            </figure>
        </div>
        <div class="body" style="display: none;">
            <form action="javascript:;">
                <div class="form-group mb-0">
                    <input type="text" class="form_style" placeholder="Name" name="name">
                </div>
                <div class="form-group mb-0">
                    <input type="email" class="form_style" placeholder="Email" name="emailid">
                </div>
                <div class="form-group mb-0">
                    <input type="tel" class="form_style" placeholder="Phone" name="phone">
                </div>
                <div class="form-group mb-0">
                    <textarea class="form_style" placeholder="Message" rows="3" name="msg"></textarea>
                </div>
                <button type="submit" class="submit_now text-decoration-none">Submit</button>
            </form>
        </div>
    </div>
    <figure class="footer-sideimage mb-0">
        <img src="./assets/images/footer-sideimage.png" alt="image" class="img-fluid">
    </figure>
    <div class="copyright">
        <p class="mb-0">Copyright © lawfinity.com, All Rights Reserved 2024</p>
    </div>
</section>
<!-- PRE LOADER -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<!-- Latest compiled JavaScript -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/carousel.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/back-to-top-button.js"></script>
<script src="assets/js/preloader.js"></script>
<script src="assets/js/popup-image.js"></script>
<script src="assets/js/contact-form.js"></script>
<script src="assets/js/contact-validate.js"></script>
<script src="assets/js/counter.js"></script>
</body>
</html>