<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Practice Areas | Lawfinity</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link href="assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/js/bootstrap.min.js">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- StyleSheet link CSS -->
    <link href="assets/css/style.css?v1" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>
<body>
<!-- Back to top button -->
<a class="button-flutuante"></a>
<div class="sub_banner position-relative">
    <figure class="banner-rightimage image mb-0">
        <img src="/assets/images/banner-rightimage.png" alt="image" class="img-fluid">
    </figure>
    <figure class="banner-leftimage image mb-0">
        <img src="/assets/images/banner-leftimage.png" alt="image" class="img-fluid">
    </figure>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="index.html">
                    <figure class="logo mb-0"><img src="assets/images/logo-acinzentado.png" alt="image" class="img-fluid"></figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Home </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="index.html">Law and Order</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="index1.html">Legal Situations</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="index2.html">Legal Matters</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Pages </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item active"><a class="dropdown-item nav-link" href="practice-area.html">Practice Areas</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="faq.html">Faq’s</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="team.html">Team</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="review.html">Review</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Blog </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="single-blog.html">Single Blog</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="load-more.html">Load More</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="one-column.html">One Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="two-column.html">Two Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="three-column.html">Three Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="three-colum-sidbar.html">Three Column Sidebar</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="four-column.html">Four Column</a></li>
                                    <li class="nav-item"><a class="dropdown-item nav-link" href="six-colum-full-wide.html">Six Column</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <div class="last_list">
                        <figure class="nav-phoneicon mb-0"><img class="img-fluid" src="/assets/images/nav-phoneicon.png" alt="image"></figure>
                        <a class="text-decoration-none last_list_atag" href="https://web.whatsapp.com/send/?phone=5511915201084&amp;text=Ol%C3%A1%2C%20Cassia%20Souza%20Advocacia%21%0A%0ATenho%20interesse%20em%20seus%20servi%C3%A7os%20advocat%C3%ADcios%20⚖️">(11) 91520-1084</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Sub Banner -->
    <section class="sub_banner_con position-relative">
        <div class="container position-relative">
            <div class="row">
                <div class="col-12">
                    <div class="sub_banner_content" data-aos="fade-up">
                        <h1 class="text-white">Practice Areas</h1>
                        <p class="col-xl-7 col-lg-9 mx-auto text-white text-size-16">Dolor in reprehenderit in voluptate velit esse cillumdolore eu fugiat nulla pariatur sint occaecat
                            non sunt in  mollit anim laborum.
                        </p>
                        <div class="box">
                            <a href="index.html" class="text-decoration-none">
                                <span class="mb-0">Home</span>
                            </a>
                            <i class="arrow fa-solid fa-arrow-right"></i>
                            <span class="mb-0 box_span">Practice Areas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Practice Area -->
<section class="practice-con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="practice_content text-center" data-aos="fade-up">
                    <h6>Our Expertise</h6>
                    <h2>Our Legal Practice Areas</h2>
                    <p class="col-xl-8 col-lg-10 mx-auto text-size-16 mb-0">Nucimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores ruas molestias excepturi
                        sint occaecati cupiditate non provident.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="box">
                    <div class="practice-box">
                        <figure class="icon">
                            <img src="/assets/images/practice-icon1.png" alt="image" class="img-fluid">
                        </figure>
                        <h5>Immigration Law</h5>
                        <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum maiores alias conse noloribus...</p>
                        <a href="./practice-area.html" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="box">
                    <div class="practice-box">
                        <figure class="icon">
                            <img src="/assets/images/practice-icon2.png" alt="image" class="img-fluid">
                        </figure>
                        <h5>Business Law</h5>
                        <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum maiores alias conse noloribus...</p>
                        <a href="./practice-area.html" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="box">
                    <div class="practice-box">
                        <figure class="icon">
                            <img src="/assets/images/practice-icon3.png" alt="image" class="img-fluid">
                        </figure>
                        <h5>Criminal Law</h5>
                        <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum maiores alias conse noloribus...</p>
                        <a href="./practice-area.html" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="box">
                    <div class="practice-box">
                        <figure class="icon">
                            <img src="/assets/images/practice-icon4.png" alt="image" class="img-fluid">
                        </figure>
                        <h5>Real Estate Law</h5>
                        <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum maiores alias conse noloribus...</p>
                        <a href="./practice-area.html" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="box">
                    <div class="practice-box">
                        <figure class="icon">
                            <img src="/assets/images/practice-icon5.png" alt="image" class="img-fluid">
                        </figure>
                        <h5>Tax Litigation Law</h5>
                        <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum maiores alias conse noloribus...</p>
                        <a href="./practice-area.html" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="box">
                    <div class="practice-box">
                        <figure class="icon">
                            <img src="/assets/images/practice-icon6.png" alt="image" class="img-fluid">
                        </figure>
                        <h5>Family Crimes</h5>
                        <p class="text-size-14">Aute irure dolor in reprehenderit in voluptate velit esse cillum maiores alias conse noloribus...</p>
                        <a href="./practice-area.html" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="about-con position-relative">
    <figure class="about-sideimage mb-0">
        <img src="assets/images/about-sideimage.png" alt="image" class="image-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="about_wrapper position-relative">
                    <figure class="about-image mb-0">
                        <img src="assets/images/about-image.jpg" alt="image" class="image-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="about_content" data-aos="fade-up">
                    <div class="content">
                        <h6>About us</h6>
                        <h2 class="text-white">Providing Top-Notch Legal Representation</h2>
                        <p class="text-white text-size-16">Quis autem vel eum iure reprehenderit rui in ea volurate veli esse ruam nihil molestiae conseauatur vel illum rui dolorema 
                            eum fugiat ruo voluetas nulla pariatur.
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p class="mb-0 text-size-16">Excepteur sint occaecat cupidatat noru even.</p>
                            </li>
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p class="mb-0 text-size-16">Duis aute irure dolor in reprehenderit in voluta facis.</p>
                            </li>
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p class="mb-0 text-size-16">Rerum hic tenetur a sapiente delectus au occae.</p>
                            </li>
                        </ul>
                        <a href="./about.html" class="text-decoration-none read_more">Read More<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ -->
<section class="faq-con practicearea-faq position-relative">
    <div class="container">
        <div class="faq">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="left_column" data-aos="fade-up">
                        <div class="faq_content mb-0">
                            <h6>Faq’s</h6>
                            <h2>Frequently Asked Questions</h2>
                            <p class="text-size-16">Nucimus qui blanditiis praesentium voluptatum deleniti atque 
                                corrupti quos dolores ruas molestias.
                            </p>
                        </div>
                        <div class="accordian-section-inner position-relative">
                            <div class="accordian-inner">
                                <div id="faq_accordion1">
                                    <div class="accordion-card">
                                        <div class="card-header" id="headingOne">
                                            <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <h5>How do I choose a personal injury lawyer?</h5>
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <p class="text-size-14 text-left mb-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-card">
                                        <div class="card-header" id="headingTwo">
                                            <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <h5>What should I do if I am involved in a car accident?</h5>
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <p class="text-size-14 text-left mb-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-card">
                                        <div class="card-header" id="headingThree">
                                            <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <h5>How much does legal representation cost?</h5>
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <p class="text-size-14 text-left mb-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                            </div>
                                        </div>
                                    </div>                                
                                    <div class="accordion-card">
                                        <div class="card-header" id="headingFour">
                                            <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <h5>How Do I Choose the Right Attorney?</h5>
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                            <div class="card-body">
                                                <p class="text-size-14 text-left mb-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="practicearea_wrapper position-relative" data-aos="zoom-in">
                        <figure class="practicearea-faqimage mb-0">
                            <img src="assets/images/practicearea-faqimage.png" alt="image" class="image-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<section class="footer-con position-relative" id="footer">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
                <div class="upper_portion">
                    <div class="heading">
                        <h6 class="text-white">Subscription</h6>
                        <h3 class="text-white mb-0">Subscribe to Our Newsletter</h3>
                    </div>
                    <form action="javascript:;">
                        <div class="form-group position-relative mb-0">
                            <input type="text" class="form_style" placeholder="Your email address" name="email">
                            <button>Subscribe<i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="middle_portion">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="logo-content">
                        <a href="./index.html" class="footer-logo">
                            <figure class="mb-0"><img src="/assets/images/logo-acinzentado.png" alt="image"></figure>
                        </a>
                        <p class="text-size-14">Nemo enim ipsam voluptatem quia voluptas sit asperna tur aut odit
                            aut fugit, sed quia conseuntur magni dolor es eos rui ratione...</p>
                        <ul class="list-unstyled mb-0 social-icons">
                            <li><a href="https://www.tiktok.com/@cassia.souza.adv?_t=ZM-90f26k8kEKh&_r=1" class="text-decoration-none" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-tiktok social-networks"></i></a></li>
                            <li><a href="https://twitter.com/i/flow/login" class="text-decoration-none"><i class="fa-brands fa-x-twitter social-networks"></i></a></li>
                            <li><a href="https://www.linkedin.com/login" class="text-decoration-none"><i class="fa-brands fa-linkedin social-networks"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="links">
                        <h4 class="heading">Useful Links</h4>
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./index.html" class=" text-size-14 text text-decoration-none">Home</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./about.html" class=" text-size-14 text text-decoration-none">About</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./practice-area.html" class=" text-size-14 text text-decoration-none">Practice Areas</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./case-studies.html" class=" text-size-14 text text-decoration-none">Cases</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./blog.html" class=" text-size-14 text text-decoration-none">Blog</a></li>
                            <li><i class="fa-solid fa-arrow-right"></i><a href="./contact.html" class=" text-size-14 text text-decoration-none">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                    <div class="timing">
                        <h4 class="heading">Office Hours</h4>
                        <ul class="list-unstyled mb-0">
                            <li><p>Monday – Saturday</p></li>
                            <li><span>12:00 – 14:45</span></li>
                            <li><p>Sunday – Thursday</p></li>
                            <li><span>17.30 – 21.45</span></li>
                            <li><p>Friday – Saturday</p></li>
                            <li><span class="mb-0">13.00 – 19.45</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="icon">
                        <h4 class="heading">Contact Us</h4>
                        <ul class="list-unstyled mb-0">
                            <li class="text">
                                <i class="fa-solid fa-phone"></i>
                                <a href="https://web.whatsapp.com/send/?phone=5511915201084&amp;text=Ol%C3%A1%2C%20Cassia%20Souza%20Advocacia%21%0A%0ATenho%20interesse%20em%20seus%20servi%C3%A7os%20advocat%C3%ADcios%20⚖️" class="text-decoration-none">(11) 91520-1084</a>
                            </li>
                            <li class="text">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:info@lawfinity.com"
                                    class="text-decoration-none">Info@lawfinity.com</a>
                            </li>
                            <li class="text">
                                <i class="fa-solid fa-location-dot"></i>
                                <p class="address mb-0">21 King Street Melbourne, 3000, Australia</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fixed-form-container">
        <div class="image">
            <figure class="footer-contactimage mb-0">
                <img src="/assets/images/footer-contactimage.png" alt="image" class="img-fluid">
            </figure>
        </div>
        <div class="body" style="display: none;">
            <form action="javascript:;">
                <div class="form-group mb-0">
                    <input type="text" class="form_style" placeholder="Name" name="name">
                </div>
                <div class="form-group mb-0">
                    <input type="email" class="form_style" placeholder="Email" name="emailid">
                </div>
                <div class="form-group mb-0">
                    <input type="tel" class="form_style" placeholder="Phone" name="phone">
                </div>
                <div class="form-group mb-0">
                    <textarea class="form_style" placeholder="Message" rows="3" name="msg"></textarea>
                </div>
                <button type="submit" class="submit_now text-decoration-none">Submit</button>
            </form>
        </div>
    </div>
    <figure class="footer-sideimage mb-0">
        <img src="/assets/images/footer-sideimage.png" alt="image" class="img-fluid">
    </figure>
    <div class="copyright">
        <p class="mb-0">Copyright © lawfinity.com, All Rights Reserved 2024</p>
    </div>
</section>
<!-- PRE LOADER -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<!-- Latest compiled JavaScript -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/carousel.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/back-to-top-button.js"></script>
<script src="assets/js/preloader.js"></script>
<script src="assets/js/popup-image.js"></script>
<script src="assets/js/contact-form.js"></script>
<script src="assets/js/contact-validate.js"></script>
</body>
</html>